/* .footer {
  min-height: 100px;
  background: #000000;
  color: darkgrey;
  text-align: center;
  padding: 1rem;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} */

footer {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  color: white;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
  font-size: 14px;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  /* padding-top: 2em; */
  color: white;
}

h4 {
  font-size: 14px;
}
